@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


@font-face {
  font-family: 'CFmister';
  font-style: normal;
  font-weight: normal;
  src: local('CFmister'), url('/fonts/CF Mister Big PERSO Regular.ttf') format('woff');
  }



  @font-face {
    font-family: 'Heartbit';
    font-style: normal;
    font-weight: normal;
    src: local('Heartbit'), url('/fonts/Heartbit-Bold.otf') format('woff');
    }
  

html,
body {
  font-family: 'Inter', sans-serif;
  height: 100%;
  margin : 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;