.CFmister{
  font-family: 'CFmister', sans-serif !important;
}

.Heartbit{
  font-family: 'Heartbit', sans-serif !important;
}
.Akzidenz{
  font-family : 'Akzidenz', sans-serif !important;
}

@media screen and (max-width: 960px) {
  .BackgroundHome{
    background: url('/wallpapers/home-wallpaper-mobile.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
}
@media screen and (min-width: 960px) {

.BackgroundHome{
  background: url('/wallpapers/home-wallpaper-pc.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
}
.AuthBackground{
  height: 100vh;
  overflow: hidden;
  background: url('/wallpapers/auth-wallpaper.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 0;
}